@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-background-color: #2363e3;
  --main-background-color-fade: #2363e335;
  --windows-background-color: rgb(255, 255, 255);
  --windows-background-color-fade: rgba(255, 255, 255, 0.975);
  --text-message-background: rgb(209, 209, 209);
  --background-message-received: rgb(209, 209, 209);
  --background-message-sent: #2363e3;
  --background-input-message: rgb(209, 209, 209);
  --primary-text-color: black;
  --primary-text-color-fade: black;
  --secondary-text-color: aliceblue;
  --primary-font-text: Arial;
  --time: rgba(231, 231, 231, 0.846);
  --time-received: rgb(92, 92, 92);
  --back-arrow: black;
  --send-button: aliceblue;
  --user-input-area: rgb(22, 22, 22);
}

.dark-mode {
  --main-background-color: #2d4ce6;
  --main-background-color-fade: #0d8aff22;
  --windows-background-color: rgb(24, 24, 24);
  --windows-background-color-fade: rgba(24, 24, 24, 0.964);
  --text-message-background: rgb(209, 209, 209);
  --background-message-received: rgb(74, 74, 74);
  --background-message-sent: #2d4ce6;
  --background-input-message: rgb(74, 74, 74);
  --primary-text-color: aliceblue;
  --primary-text-color-fade: rgb(255, 255, 255);
  --secondary-text-color: aliceblue;
  --primary-font-text: Arial;
  --time: rgba(231, 231, 231, 0.846);
  --time-received: rgb(156, 156, 156);
  --back-arrow: rgb(255, 255, 255);
  --send-button: rgb(173, 173, 173);
  --user-input-area: rgba(223, 223, 223, 0.597);
}

#toast-box {
  width: 98%;
  max-width: 33em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#icon-toast {
  align-self: center;
  margin-left: 1em;
}

#toast-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
}

#toast-title {
  font-weight: bolder;
  font-size: 1.2em;
}

#toast-success {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 1em;
  top: .5em;
  gap: 1em;
  padding: .5em 0;
  overflow: hidden;
  text-align: left;
  border-radius: .1em;
  flex-direction: row;
  color: #06713D;
  border: .01em solid #06713D;
  border-bottom: .2em solid #06713D;
  background-color: #D1FADF;
  position: absolute;
}

#toast-error {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 1em;
  top: .5em;
  gap: 1em;
  padding: .5em 0;
  overflow: hidden;
  text-align: left;
  border-radius: .1em;
  flex-direction: row;
  color: #F1391D;
  border: .01em solid #F1391D;
  border-bottom: .2em solid #F1391D;
  background-color: #FEE3E1;
  position: absolute;
  margin: 0 1em;
}

#darkmode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4em;
  margin: .130em;
  margin-right: .5em;
  padding-top: .2em;
  padding-left: .2em;
  border-radius: 2em;
  cursor: pointer;
  border: 2px solid var(--main-background-color);
  background-color: rgba(91, 91, 91, 0.295);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.176);
}

@keyframes darkmode {
  from {
    left: 2.4em;
  }

  to {
    left: 0em;
  }
}

.animation-dark-mode {
  animation: darkmode .5s;
  position: relative;
}

#light-mode {
  position: relative;
  animation: darkmode .5s;
  color: var(--primary-text-color);
}

.dont-display-icon {
  display: none;
}

.light-mode-icon {
  display: none;
}

#dark-mode-icon {
  color: var(--main-background-color);
}

#toggle {
  display: flex;
  width: 100%;
  justify-content: end;
}



body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--windows-background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
}


h1 {
  width: 100%;
  padding-top: .5em;
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  font-style: normal;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: clamp(3.5em, 5vw, 7em);
  overflow-wrap: break-word;
  color: var(--main-background-color);
}


section {
  width: 100%;
  max-width: 500px;
}

h2 {
  padding: 1em 0;
  color: var(--main-background-color);
}

.dont-show-signup {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  color: var(--primary-text-color);

}

label {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 100%;
  height: 3em;
  font-size: 1em;
  padding-left: 0.5em;
  border-radius: .3em;
  border: .02em solid var(--user-input-area);
  background-color: rgba(128, 128, 128, 0.14);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.176);
  color: var(--primary-text-color);
  outline-color: var(--main-background-color);
}

button {
  width: 100%;
  height: 3.5em;
  font-weight: 700;
  font-size: 1em;
  border-radius: .3em;
  border: none;
  cursor: pointer;
  background-color: var(--main-background-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.176);
  color: aliceblue;
  transition: all .3s;
}

button:hover {
  scale: 101%;
}

p {
  text-align: center;
  padding: 2em 0;
  color: var(--primary-text-color);
}

#signupLink,
#loginLink {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-background-color);
}

footer {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: end;
  font-size: .8em;
  padding-bottom: .1em;
  color: var(--primary-text-color);
}