@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  height: 100vh;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;


}

h1 {
  padding-top: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  font-style: normal;
  font-family: "IBM Plex Sans", sans-serif;
  color: #10458f;
}

section {
  width: 100%;
  max-width: 500px;

}

h2 {
  padding: 1em 0;
}

.dontShow {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  gap: 2.5em;
}

label {
  width: 100%;
  font-family: arial;

}

input {
  width: 100%;
  height: 3.5em;
  padding-left: 0.5em;
  border-radius: .3em;
  border: .02em black solid;
}

button {
  width: 100%;
  height: 3.5em;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  border-radius: .3em;
  border: none;
  background-color: #10458f;
  color: aliceblue;
}

p {
  padding: 2em 0;
  text-align: center;
}

span {
  color: #10458f;
  font-weight: bold;
  cursor: pointer;


}