* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #2363e3;
  --main-background-color-fade: #2363e335;
  --windows-background-color: rgb(255, 255, 255);
  --windows-background-color-fade: rgba(255, 255, 255, 0.975);
  --text-message-background: rgb(209, 209, 209);
  --background-message-received: rgb(209, 209, 209);
  --background-message-sent: #2363e3;
  --background-input-message: rgb(209, 209, 209);
  --primary-text-color: black;
  --primary-text-color-fade: black;
  --secondary-text-color: aliceblue;
  --primary-font-text: Arial;
  --time: rgba(231, 231, 231, 0.846);
  --time-received: rgb(92, 92, 92);
  --back-arrow: black;
  --send-button: aliceblue;
  --user-input-area: rgb(255, 255, 255);
}

.dark-mode {
  --main-background-color: #2d4ce6;
  --main-background-color-fade: #0d8aff22;
  --windows-background-color: rgb(24, 24, 24);
  --windows-background-color-fade: rgba(24, 24, 24, 0.964);
  --text-message-background: rgb(209, 209, 209);
  --background-message-received: rgb(74, 74, 74);
  --background-message-sent: #2d4ce6;
  --background-input-message: rgb(74, 74, 74);
  --primary-text-color: aliceblue;
  --primary-text-color-fade: rgb(255, 255, 255);
  --secondary-text-color: aliceblue;
  --primary-font-text: Arial;
  --time: rgba(231, 231, 231, 0.846);
  --time-received: rgb(156, 156, 156);
  --back-arrow: rgb(255, 255, 255);
  --send-button: rgb(173, 173, 173);
  --user-input-area: rgba(24, 24, 24, 0.964);
}

body {
  background-color: aliceblue;
  position: relative;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#window-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /*overflow: scroll; Desktop view*/
  /*height: 100vh; Desktop view*/
}

#options {
  width: 100%;
  height: 4.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--windows-background-color-fade);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.015);
}

#options-leftside {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#back-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: .6em;
  border: none;
  cursor: pointer;
  color: var(--back-arrow);
  background-color: rgba(255, 255, 255, 0);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.188);
}

#back-arrow:hover {
  scale: 105%;
}

#contact-info {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin: 0 .4em;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--main-background-color-fade);
  color: var(--main-background-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.067);
}

#contact-name {
  font-size: 1.5em;
  color: var(--primary-text-color);
}

#darkmode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: .6em;
  width: 4em;
  border: 2px solid var(--main-background-color);
  padding-top: .2em;
  padding-left: .2em;
  border-radius: 2em;
  cursor: pointer;
  background-color: rgba(91, 91, 91, 0.295);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.176);
}

@keyframes darkmode {
  from {
    left: 2.4em;
  }

  to {
    left: 0em;
  }

}

.animation-dark-mode {
  animation: darkmode .5s;
  position: relative;
}

#light-mode {
  color: var(--primary-text-color);
  animation: darkmode .5s;
  position: relative;
}

.dont-display-icon {
  display: none;
}

.light-mode-icon {
  display: none;
}

#dark-mode-icon {
  color: var(--main-background-color);
}

#display-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 8em;
  padding-top: 80px;
  list-style-type: none;
  background-color: var(--windows-background-color);
}

#message-received {
  max-width: 18em;
  align-self: flex-start;
  margin: .5em;
  padding: .8em;
  border-radius: 1.2em 1.2em 1.2em .2em;
  padding-bottom: 1.5em;
  overflow-wrap: break-word;
  position: relative;
  font-family: var(--primary-font-text);
  background-color: var(--background-message-received);
  color: var(--primary-text-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.326);
}

#message-sent {
  max-width: 18em;
  align-self: flex-end;
  margin: .5em;
  padding: .8em;
  padding-bottom: 1em;
  border-radius: 1.2em 1.2em .2em 1.2em;
  line-height: 1.5em;
  overflow-wrap: break-word;
  position: relative;
  font-family: var(--primary-font-text);
  color: var(--secondary-text-color);
  background-color: var(--background-message-sent);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
}

#time {
  margin-right: 1em;
  position: absolute;
  align-self: self-end;
  font-size: smaller;
  right: 0;
  bottom: 0;
  color: var(--time);
}

#time-received {
  position: absolute;
  align-self: self-end;
  margin-right: .9em;
  margin-bottom: .5em;
  font-size: smaller;
  right: 0;
  bottom: 0;
  color: var(--time-received);
}

.user-input-area {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .6em;
  padding: 1em .4em 1.5em .4em;
  bottom: 0;
  position: fixed;
  background-color: var(--user-input-area);
}

#user-input-text {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 10em 0;
  padding: .7em;
  border: none;
  border-radius: .7em;
  font-size: 1.2em;
  text-decoration: none;
  cursor: text;
  outline: none;
  background-color: var(--background-input-message);
  font-family: var(--primary-font-text);
  resize: none;
  overflow-y: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.326);
}

#text::-webkit-scrollbar {
  display: none;
}

.submit {
  width: 4em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .7em;
  border: none;
  cursor: pointer;
  background-color: var(--main-background-color);
  transition: .3s;
  color: var(--send-button);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.326);
}

.submit:hover {
  scale: 105%;
}